
:root {
    --color-primary: #F011A0;
    --color-text: #fff;
    --color-box: #028a0f;
    --color-back: wheat;
    --color-logo: #1e90ff;
    --color-black: #1a1a1a;
    --color-font-p: #7f8c8d;
}

html{
    scroll-behavior: smooth;
}

label{
    background: none;
}

a{
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s;
    box-shadow: 10px 10px 10px 0 rgb(0, 0,0,0.5);
    border-bottom: 5px solid #028a0f;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    justify-content: center;
}

.logo img{
    height: 60px;
    display: block;
    transition: all .4s;
}

.nav h2{
    color: #fff;
    font-size: 1.7rem;
}

ul li{
    display: inline-block;
}

ul li a{
    display: block;
    padding: 15px 10px;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

ul li ul.dropdown_menu li{
    display: block;
}

ul li ul.dropdown_menu{
    width: 19%;
    background: #f1f1f1;
    color: #fff;
    position: absolute;
    display: none;
}

ul li a:hover{
    color: var(--color-text);
}

ul li:hover ul.dropdown_menu{
    display: block;
}

ul li ul.dropdown_menu li{
    display: block;
}

ul li ul.drop_menu{
    width: 19%;
    background: #f1f1f1;
    color: #fff;
    position: absolute;
    display: none;
}

ul li ul:hover{
    color: var(--color-text);
}

.drop_menu li a:hover{
    color: var(--color-text);
}

ul li:hover ul.drop_menu{
    display: block;
    
}

#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li{
    list-style: none;
    padding-right: 50px;
}

#item li a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    font-weight: bolder;
}

#item li a:hover{
    color: #ff5733;
    cursor: pointer;
}

#bar{
    fill: #ff5733;
    font-weight:  lighter;
    font-size: 1.2rem;
    padding-top: .8rem;
    display: none;
}

.back{
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;

}

.back-view{
    position: absolute;
    top: 0%;
    left: 0;
    object-fit: cover;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background-size: cover;
    z-index: -1;
    padding-top: 10em;
}

.back .overlay{
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -20%);
}

.mid_one{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(20%, -20%);
    text-align: center;
}

.mid p{
    color: #000;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.mid_one p{
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
}

.mid h2{
    color: skyblue;
    font-size: 2.1rem;
}

.mid_one h2{
    color: #fff;
    font-size: 2.5rem;
}

.mid button {
        padding: 5px 10px;
        color: #fff;
        outline: none;
        background: var(--color-logo);
        border-radius: 99px;
        border: none;
        font-size: 1.3rem;
        font-weight: 500;
        margin: 20px 0;
        cursor: pointer;
        transition: all .50s ease;
}

.mid_one button{
    padding: 5px 10px;
    color: #fff;
    outline: none;
    background: var(--color-logo);
    border-radius: 99px;
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0;
    cursor: pointer;
    transition: all .50s ease;
}

.cover {
    background: var(--color-box);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
    transform:  translateY(5px);
}

.background_at{
    background-image: url(../images/Team/IMG-20250116-WA0004.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: center;
    width: 100%;
    height: 30vh;
}

.carousel-container {
    width: 80%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.team-member {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.member-info {
    margin-top: 20px;
}
.name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.role {
    font-size: 1.2rem;
    color: #666;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

/* slide*/

.slide-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: relative;
    width: 80%;
    height: 60%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* contact info flex*/

.flex_contact {
    align-items: center;
    padding: 200px 50px;
}
.flex_contact h1{
    text-align: center;
    font-size: 3.5em;
    font-family: 'monospace';
    margin-bottom: 1em;
}

.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-one{
    border: 1px solid  #0b6835;
    color: #000;
    padding:  50px;
    margin-right: 2em;
    text-align: center;
}

.flex-one h5{
    color: #1a1a1a;
    font-size: 1.3em;
    margin-bottom: .6em;
}

.flex-one p{
    color: #0b6835;
    font-size: 1.2em;
}

.flex-two{
    border: 1px solid  #0b6835;
    color: #000;
    padding:  50px;
    margin-right: 2em;
    margin-left: 2em;

}

.flex-two h5{
    color: #1a1a1a;
    font-size: 1.5em;
    margin-bottom: .6em;
    text-align: center;
}

.flex-two p{
    font-size: 1.1em;
    margin-bottom: .4em;
}

.flex-two a{
    text-decoration: none;
    line-height: 2cap;
    color: #1b1b1b;
}

.flex-two a:hover{
    color: #039be5;
    text-decoration: underline;
}

.flex-one i{
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translateY(-55%);
    font-size: 5em;
    color: red;
    background: #fff;
    border-radius: 22px;
    padding: 10px;
}

.flex-two i{
    position: absolute;
    left: 44%;
    top: 50%;
    transform: translateY(160%);
    font-size: 20px;
    background: #fff;
    border-radius: 22px;
    padding: 10px;
}

.flex-three i{
    position: absolute;
    left: 42%;
    bottom: 50%;
    transform: translateY(670%);
    font-size: 20px;
    fill: red;
    background: #fff;
    border-radius: 22px;
    padding: 10px;
}

.flex-three{
    border: 1px solid #0b6835;
    color: #000;
    padding:  50px;
    margin-right: 2em;
    margin-left: 2em;
    text-align: center;
}

.flex-three h5{
    color: #1a1a1a;
    font-size: 1.5em;
    margin-bottom: .6em;
}

.flex-three p{
    color: #0b6835;
    font-size: 1.2em;
}

/* close contact info flex*/

/*service-info*/

.service_info{
    background-color: #fff;
    padding: 13em 0;
}

.info_contact-up h1{
    text-align: center;
    color: var(--color-text);
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: capitalize;
}

#Check-up .aesthetic_info-container p{
    color: #666666;
    width: 80%;
    font-size: 1.3rem;
    margin-top: -2em;
    text-align: center;
}

.info_center{
    color: var(--color-box);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.info_more{
    padding: 0 4.3em;
    margin-left: 6em;
}

.info_more h5{
    font-size: 1.3em;
}

.aesthetic_info-list-one ul li{
    font-family: "Poppins", sans-serif;
}

.info_more p li{
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

.info_more li{
    color: #7a7a7a;
    width: 50%;
    font-size: 1em;
    margin-bottom: 1em;
    font-family: "Poppins", sans-serif;
}


.info_more .info_one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

.info_more-contact{
    padding: 0 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_more-contact h4{
    font-size: 1.5em;
}

.info_more-one p{
    color: #000;
    width: 80%;
    font-family: "Poppins", sans-serif;
}

.info_more-two p{
    color: #666262;
    width: 90%;
}

.info_contact-right img{
    width: 500px;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    z-index: 1;
}

.info_contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info_contact-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aesthetic_info-container{
    padding: 0 10em;
}

.aesthetic_info-img h2{
    color: var(--color-box);
    font-size: 2em;
    margin: .8em 0;
}

.aesthetic_info-contact p {
    color: #0f0e0e;
    width: 80%;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
}

.aesthetic_info-list-two span p{
    font-size: 1.2em;
    color: #443f3f;
    width: 80%;
    font-family: "Poppins", sans-serif;
}

.aesthetic_info-list-two h6{
    font-size: .8em;
    width: 50%;
} 

.aesthetic_info-list-two ul {
    font-size: 1.2em;
    margin-left: 2em;
    font-family: "Poppins", sans-serif;
} 

.aesthetic_info-list-two li {
    margin-left: 2em;
    font-family: "Poppins", sans-serif;
} 

.aesthetic_info-list h5{
    color: #f1f1f1;
    font-size: 1.5rem;
}

.aesthetic_info-list h6{
    font-size: 1.3rem;
}

.aesthetic_info-list-three ul li{
    margin-left: 6em;
    font-family: "Poppins", sans-serif;
}

.aesthetic_info-list-three ul{
    color: #000;
    font-size: 1.2em;
    margin-left: 4em;
    font-family: "Poppins", sans-serif;
}

.aesthetic_info-list-three li{
    color: #000;
    margin-left: 4em;
    font-family: "Poppins", sans-serif;
}

.aesthetic_info-list-forth p{
    width: 70%;
    color: #1a1a1a;
}

.border_note{
    width: 50%;
    height: 200px;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    box-shadow: 10px 10px 10px 0 rgba(99, 98, 98, 0.5);
    border-radius: 20px;
    padding: 0 20px;
    margin-left: 15em;
    margin-bottom: -10em;
}

.border_note p{
    z-index: 1;
    font-size: 1.1em;
    color: #1a1a1a;
}

.border_note span a{
    color: forestgreen;
    font-style: none;
    text-decoration: none;
}



.border_note::before{
    content: ' ';
    position: absolute;
    width: 110%;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(20, 121, 25));
    height: 30%;
    animation: rote 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rote {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.border_note::after{
    content: ' ';
    position: absolute;
    background: #fff;
    inset: 5px;
    border-radius: 15px;
}

/*.info_contact p{
    color: #666666;
    width: 450px;
    font-size: 1.3rem;
}*/


.info_contact img{
    width: 500px;
    object-fit: cover;
    margin-left: 40px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    z-index: 1;
}

/*close service-info*/

/* dental clinic info */

.intro{
    margin: 30px;
}

.smile-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.smile-info h1{
    padding-bottom:  .01rem;
    text-transform: capitalize;
    font-size: 2.3rem;
}

.smile-info hr{
    display: block;
    margin-top: 10px;
    margin-left: 38%;
    margin-bottom: 20px;
    opacity: 1;
    color: #fff;
    border: 1px solid #18d9af;
    width: 300px;
}

.smile-info p{
    width: 45%;
    font-size:  1.2rem;
}

.smile-info .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.smile-info img{
    width: 500px;
    object-fit: cover;
    margin-left: 40px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 3em;
}

/* close dental clinic info */

/* Anoying_message */

.anoying_message{
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    border:  1px solid forestgreen;
    background: #f1f1f1;
    box-shadow: 10px 10px 10px 0 rgba(99, 98, 98, 0.5);
    border-radius: 20px;
    padding: 10px 50px;
    transition: .3s ease-in-out;
    z-index: 1;
}

.anoying_body {
    z-index: 1;
    font-size: 1em;
    color: #1a1a1a;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anoying_body button{
    background: #045463;
    border-radius: 22px;
    padding: 5px;
    outline: none;
    border: none;
}

.anoying_body a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.contact-anoy{
    display: flex;
    justify-content: space-between;
}

.anoying_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anoying_text p{
    font-size: 1.3em;
    margin-bottom: 1em;
    width: 450%;
}

.anoying_body h5{
    text-align: center;
    font-size: 1.2em;
}

.border_center span a{
    color: #ad4d4d;
    font-style: none;
    text-decoration: none;
}

.border_center span a:hover{
    color: forestgreen;
}

.anoying-title h4 {
    font-weight: bold;
}

.close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #171819;
}

.anoying_header .close-button {
    margin-left: 30em;
}

/* close Anoying_message */

/* about us content */

.about-text{
    padding: 13em 0;
    background-color: #fff;
}

.flex-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.flex-wap{
    display: flex;
    justify-content: center;
    margin-bottom: -7em;
}

.doctor_Sa-text p{
    font-size: 1.1rem;
    color: #1a1a1a;
    width: 550px;
    margin-left: 1em;
}

.doctor_Sa-img img{
    object-fit: center;
    background-position: center;
    width: 850px;
    height: 65vh;
    margin-top: -3.5em;
}

.qualifications_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.qualifications_contact  img{
    width: 300px;
}

#ch:checked ~ .show_less {
    display: block;
}

#ch:checked ~ label {
    display: none;
}

#ch{
    display: none;
}

.show_less{
    display: none;
}

label{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: rgb(72, 113,97);
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
}

.border_center{
    height: 200px;
    padding: 0 0 2rem 3rem;
    margin-top: 0em;
}

.border_center p{
    z-index: 1;
    font-size: 1.1em;
    color: #1a1a1a;

}

.border_center span a{
    color: #ad4d4d;
    font-style: none;
    text-decoration: none;
}

.border_center span a:hover{
    color: forestgreen;
}

/* close about us content */


/* team */

.team{
    padding: 20px 30px;
    background: #fff;
}

.team a{
    padding: 15px 50px;
    margin-left: 10rem;
    border: 1.5px solid #ff8c4b;
}

.all_team a{
    padding: 5px 10px;
    color: #fff;
    outline: none;
    background: var(--color-logo);
    border-radius: 99px;
    border: none;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
}

.btn_hover_one{
    background: var(--color-box);
    height: 10%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn_hover a:hover span {
    width: 100%;
}

.all_team a:hover {
    background: none;
    transform:  translateY(5px);
}

.team-center{
    padding: 20px 25px;
}

.team-center .team-hr{
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid ;
    margin-bottom: 4rem;
}

.team-center h5{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 4rem;
    margin-top: -4.4rem;
    margin-bottom: 2rem;
}

.team-center h2{
    color: #fff;
    padding: 0 212px 0 0;
}

.team-center p{
    color: #aaa;
    padding: 0 184px 0 0;
    margin-bottom: 2rem;
}

/* close team */


   /* team slide */

   .team_container{
    padding: 0 10px;
}

.team-slider{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}

.team-img{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.team-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-center h5{
    color: #000;
    font-size: 1.1em;
}

.team-center h2{
    color: #1a1a1a;
    width: 150%;
    font-size: 1.2em;
}

.overlay-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.overlay_text{
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay_text h4{

    font-size: 1.5rem;
} 

.overlay_text h5{
    color: #aaa;
    font-size: 1.2rem;
} 

/* team slide contact */

.wrapper{
    /*border: 1px solid black;*/
    /*width: 90%;
    max-width: 1536px;*/
    margin-inline: auto;
    position: relative;
    height: 300px;
    margin-top: 5rem;
    overflow: hidden;
    /*mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0)
    );*/
    margin-top: -3em;
    margin-bottom: 3em;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    width: 200px;
    height: 350px;
    background-color: red;
    border-bottom: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.team-member{
    display: flex;
    gap: 2em;
}

.team-thumb{
    width: 150px;
    height: 200px;
    object-fit: cover;
}


#team1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

#team2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

#team3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

#team4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

#team5  {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
#team6  {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
#team7  {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
#team8  {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.overlay_text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    background-color: #fff;
}

/* close team slide contact */

/* SERVICES Cards  */

.image_list{
    border-top: 2px solid #03A9F4;
    padding: 3em 0em;
}

.service-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #fff;
}

.service-card {
    flex: 0 0 auto;
    width: 350px;
    height: 250px;
    margin: 0 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
}

.service-card a{
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    cursor: pointer;
}

.service-card img{
    width: 100%;
    object-fit: cover;
}

/* close SERVICES Cards  */

/* general */

    .info_contact-up {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info_contact-up p{
        color: #666666;
        width: 450px;
        font-size: 1.3rem;
    }

    .info_contact-up img{
        width: 500px;
        object-fit: cover;
        margin-right: 20px;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
        transition: all .5s;
        z-index: 1;
    }

/* close general */

/* comments */


/* close comments */

/* flex comment*/

.flex-comment_one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.flex-comment_two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.flex-comment_header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-comment_one-text, .flex-comment_two-text, .flex-comment_three-text{
    background: #c9c5c5;
    border-radius: 22px;
    padding: 20px;
    width: 27%;
}

.flex-comment_header i{
    background-color: #039be5;
    border-radius: 99px;
    padding: 10px 15px;
    font-size: 1.1em;
}

.flex-comment_header a{
    font-size: 1.1em;
    margin-left: .6em;
}

.flex-comment_text a:hover{
    color: #039be5;
}

.flex-comment_header p{
    margin-left: 3.6em;
    color: #5d5d5f;
}

.comment_more{
    transform: translate(-50%);
}

.star_group{
    font-size: 1.5em;
    fill: #ff891e;
    color: #ff891e;
    user-select: none;
}

.comment_more {
    display: none;
    margin-left: 7em;
}

#cm:checked ~ .comment_more {
    display: block;
}

#cm:checked ~ label {
    display: none;
}

#cm{
    display: none;
}

.flex-comment_one-text p, .flex-comment_two-text p, .flex-comment_three-text p{
    width: 85%;
    font-size: 1em;
}

.comment_more p{
    width: 110%;
    margin-left: -.2em;
    font-size: 1.1em;
}

.flex-comment_text .blue{
    color: #0887ec;
    font-size: 2em;
    margin-bottom: -.1em;
}

.flex-comment_text .red{
    color: red;
}

.flex-comment_text .orange{
    color: orange;
}

.flex-comment_text .green{
    color: green;
}

/* close flex comment*/

/* form*/

.in_contact{
    object-fit: cover;
    background-image: url(images/Team/IMG-20250116-WA0006.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    margin-bottom: -5em;
}

.login-form{
    background: rgba(64, 64, 64, 0.15);
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    text-align: center;
    color: wheat;
    width: 400px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);

}

.login-title{
    font-size: 40px;
    margin-bottom: 40px;

}

.input-box{
    margin: 20px 0;
    position: relative;
}    

.input-box input, .input-box textarea{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.input-box input::placeholder, .input-box textarea::placeholder{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 500;
}

.input-box input:focus, .input-box textarea:focus{
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.input-box select{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
}

form {
    top: 50%;
    left: 50%;
    transform: translate(120%, 5%);
    justify-content: center;
    align-items: center;
}

.input-box option{
    color: #000;
    background: none;
}

.input-box .selection{
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
}

.input-box1{
    margin: 20px 0;
    position: relative;
}    

.remember-forgot-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
}

.remember-forgot-box label {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.remember-forgot-box input{
    accent-color: white;
    cursor: pointer;
}

.remember-forgot-box a{
    color: wheat;
    text-decoration: none;
}

.remember-forgot-box a:hover{
    text-decoration: underline;
}

.login-btn{
    width: 100%;
    padding: 10px 0;
    background: #2f9cf4;
    border: none;
    border-radius: 99px;
    color: wheat;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover{
    background: #0887ec;
}

.register{
    margin-top: 15px;
    font-size: 15px;
}

.register a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
}

.register a:hover{
    text-decoration: underline;
}

/* close form */


/*  fixed icons whatsapp popup*/

.whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body.show-chat #chat-box-toggler span:first-child,
#chat-box-toggler span:last-child {
    opacity: 0;
}

body.show-chat #chat-box-toggler span:last-child {
    opacity: 1;
}


.chat-box-popup{
    position: fixed;
    left: 35px;
    bottom: 140px;
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0;
    transform: scale(0.2);
    transform-origin: bottom left;
    pointer-events: none;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all 0.1s ease;
}

body.show-chat .w-app{
    transform: rotate(90deg);
}

#chat-box-toggler{
    position: absolute;
}

body.show-chat .chat-box-popup{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chat-header{
    display: flex;
    align-items: center;
    background: #0b6835;
    padding: 15px 22px;
    justify-content: space-between;
}

.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info img{
    width: 100px;
    align-items: center;
    height: 54px;
    width: 100px;
    padding: 6px;
}

.header-info .logo-text{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.chat-box-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    padding-bottom: 8rem;
    overflow-y: auto;
    flex-direction: column;
    background-image: url(../images/seamless-doodle-social-media-pattern-background-vector-illustration_1284-1983.jpg);
}

.chat-box-body .message {
    display: flex;
    align-items: center;
}

.chat-box-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
    background: #049999;
}

.chat-box-body .bot-message .message-text {
    color: #fff;
    background: #5350c4;
    border-radius: 13px 13px 13px 2px;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0b6835;
    padding: 15px 22px 20px;
}

.chat-footer .chat-controls{
    display: flex;
    height: 47px;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
    margin-left: 100px;
}

.chat-footer .chat-controls button{
    height: 35px;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    
}

.chat-footer .chat-controls .app{
    align-items: center;
    font-size: 2rem;
}

.chat-footer .chat-controls .app-link{
    align-items: center;
    font-size: 2rem;
}

.chat-footer .chat-controls .app-link a{
    text-decoration: none;
    color: #fff;
}

/*  close fixed icons whatsapp popup*/

/*  fixed icons whatsapp and back-to-top*/

#whatsapp .w-app{
    position: fixed;
    transform: all .5s ease;
    background-color:  #25d366;
    fill: #25d366;
    fill-rule: #25d366;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    border-radius: 50px;
    border-radius: none;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    bottom: 70px;
    left: 20px;
    border: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#whatsapp .w-app::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
    
}

#whatsapp .w-app:focus{
    border: none;
    outline: none;
}

@keyframes pulse-border {
    0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
    100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.1); opacity: 1;}
}

.back-top{
    background: #fff;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #1f1f1f;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    font-weight: 600;
    transition: all .4s;
}

.back-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/*  close fixed icons whatsapp and back-to-top*/

/* footer */

.footer{
    background: rgb(9, 114, 88);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 20px;
}

.footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content{
    width: 100%;
}

.footer1 h5{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #c4c4c4;
}

.footer1 h5{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #c4c4c4;
}

.footer1 i a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #aaa;
}

.footer2 h5{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: .6rem;
    color: #c4c4c4;
}

.footer1 p{
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
    color: #a1a1aa;
}

.footer1 ul{
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-bottom: .6rem;
    color: #a1a1aa;
    text-decoration: none;
}

.footer1 ul a{
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
    color: #000;
    text-decoration: none;
}

.footer1 ul a:hover{
    color: #039be5;
    text-decoration: underline;
}


.footer-content{
    padding: 16px 14px;
    text-align: center;
    background: #19421b;
} 

.footer-content p{
    color: #fff;
    font-size: 1rem;
} 

.footer-content span{
    color: #ff0000;
}

.footer-content img{
    width: 36px;
    object-fit: cover;
    margin-bottom: -1.4rem;
}

iframe{
    width: 400px;
    height: 300px;
}

.maps h5{
    color: #c4c4c4;
    font-size: 1rem;
}

.contact-main .maps{
    width: 45%;
    border-left:  1px solid #666262;
    padding-left:  4rem;
    margin-bottom: 120px;
}

.contact-main .maps h1{
    font-size: 1rem;
    padding-bottom: 1.1rem;
}

.operation-two{
    color: #666262;
    padding: 0 4rem;
}

.operation-two h1, h3{
    color: #c4c4c4;
}

.operation-two p{
    color: #1a1a1a;
}

.operation-two h1 span{
    color: #18d96e;
    font-weight: 600;
}

/* close footer */
